.features {
  max-width: getWidth('mobileBox');
  margin-right: auto;
  margin-left: auto;

  // Tablet styles
  @include respond-from-min('tablet') {
    display: flex;
    flex-wrap: wrap;

    max-width: getWidth('tablet');

    margin-top: negativeMargin($pentadeca-gap_2x);
    margin-left: negativeMargin($pentadeca-gap_2x);
  }
  // Desktop styles
  @include respond-from-min('desktop') {
    max-width: getWidth('desktop');

    margin-top: 0;
  }

  &__item {
    @include respond-to-max('tablet') {
      &:not(:first-child) {
        margin-top: $pentadeca-gap_2x;
      }
    }

    @include respond-from-min('tablet') {
      flex-basis: flexElementWidth($pentadeca-gap_2x, 2);
      margin-left: $pentadeca-gap_2x;
      margin-top: $pentadeca-gap_2x;
    }

    @include respond-from-min('desktop') {
      flex-basis: flexElementWidth($pentadeca-gap_2x, 4);
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: $deca-gap_1x;
    color: getColor('secondary-text');
    font-size: $main-size;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @include respond-from-min('tablet') {
      text-align: left;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
  }

  // Icons
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: getColor('secondary-bg');
    border-radius: 4px;
    margin-bottom: $pentadeca-gap_2x;
    padding: 25px 0;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
