.footer {
  background-color: getColor('ternary-bg');
  color: getColorInverted('primary-text');
  font-size: $main-size;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: $pentadeca-gap_4x;
  padding-bottom: $pentadeca-gap_4x;


  &__container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    @include respond-from-min('tablet') {
      display: flex;
      flex-wrap: wrap;

      justify-content: space-around;
    }

    @include respond-from-min('desktop') {
      text-align: left;
      flex-wrap: nowrap;

      justify-content: start;
    }
  }

  &__title {
    margin-bottom: $deca-gap_2x;
    font-weight: 700;
    font-size: $main-size;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.address {
  margin-bottom: $pentadeca-gap_4x;

  @include respond-from-min('tablet') {
    margin-bottom: 0;
  }

  @include respond-from-min('desktop') {
    width: 231px;
    margin-right: $deca-gap_7x;
    margin-bottom: 0;
  }
}
