.hero {
  // BACKGROUND START
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: getColor('ternary-bg');

  // Mobile styles
  background-image: linear-gradient(to bottom, $hero-gradient, $hero-gradient),
    url('../images/hero-bg__480.jpg');
  // 2x screens, retina
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, $hero-gradient, $hero-gradient),
      url('../images/hero-bg__480@2x.jpg');
  }

  // Tablet styles
  @include respond-from-min('mobile') {
    background-image: linear-gradient(to bottom, $hero-gradient, $hero-gradient),
      url('../images/hero-bg__768.jpg');

    // 2x screens, retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          $hero-gradient,
          $hero-gradient
        ),
        url('../images/hero-bg__768@2x.jpg');
    }
  }

  // Desktop styles
  @include respond-from-min('tablet') {
    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient(to bottom, $hero-gradient, $hero-gradient),
      url('../images/hero-bg__1600.jpg');

    // 2x screens, retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          $hero-gradient,
          $hero-gradient
        ),
        url('../images/hero-bg__1600@2x.jpg');
    }
  }
  // BACKGROUND END

  &__container {
    max-width: 360px;
    padding: $xeno-gap_h 0;

    @include respond-from-min('desktop') {
      max-width: 696px;
      padding: $deca-gap_20x 0;
    }
  }

  &__title {
    margin-bottom: $pentadeca-gap_2x;
    margin-top: 0;
    padding: 0;

    color: getColorInverted('primary-text');

    font-size: $hero-mobile-size;
    line-height: 1.61;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include respond-from-min('desktop') {
      font-size: $hero-size;
      line-height: 1.3;
    }
  }
}
