:root {
    --color-gray: #757575;
    --color-blackgray: #212121;
    --color-blue: #2196F3;
    --color-black: #000;
    --color-gray2: #2F303A;
    --color-white: #fff;
    --color-brand: #F5F5F5;
}

.foot-ul-map {
    color: var(--color-white);
    text-decoration: none;
}
.foot-ul-li {
    color: var(--color-gray);
    text-decoration: none;
}

footer {
    background-color: var(--color-gray2);
}

ul {
    list-style: none;
}

.foot-ul-li:hover {
    color: var(--color-blue);
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-nav-li {
    color: var(--color-blackgray);
    text-decoration: none;
}

.top-nav-li:hover {
    color: var(--color-blue);
}

.top-nav-li-1 {
    color: var(--color-gray);
    text-decoration: none;
}

.top-nav-li-1:hover {
    color: var(--color-blue);
}

.portfolio-button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.portfolio-txt-p {
    color: var(--color-gray);
}

.portfolio-txt {
    color: var(--color-blackgray);
}