:root {
    --color-gray: #757575;
    --color-blackgray: #212121;
    --color-blue: #2196F3;
    --color-black: #000;
    --color-gray2: #2F303A;
    --color-white: #fff;
    --color-brand: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-white);
}

.contacts {
    color: var(--color-gray);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts:hover {
    color: var(--color-blue);
}

.contacts:focus {
    color: var(--color-blue);
}

.nav-link {
    color: var(--color-blackgray);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-blue);
} 

.nav-link:focus {
    color: var(--color-blue);
}

.title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.main-button {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: 'Roboto';
     font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    letter-spacing: 0.06em;
}

.main-button:hover {
    background-color: #237bc4;
}

footer {
    background-color: var(--color-gray2);
}

.map {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts {
    color: var(--color-gray);
    text-decoration: none;
}

.contacts:hover {
    color: var(--color-blue);
}

ul {
    list-style: none;
}

.team {
    background-color: var(--color-brand);
}

.team-color {
    background-color: var(--color-white);
}

.benefits-txt {
    color: var(--color-gray);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits-title {
    color: var(--color-blackgray);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.portfolio-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-blackgray);
}

.portfolio-button:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.portfolio-button:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
}                      

.top-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-black);
}

.top-logo-color {
    color: var(--color-blue);
}

.main-title {
    background-color: var(--color-gray2);
}

.title-middle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-blackgray);
}

.member-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;   
    letter-spacing: 0.03em;
    color: var(--color-blackgray);
}

.member-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-white);
    text-decoration: none;
}

.logo-footer-color {
    color: var(--color-blue);
}

.foot-contacts {
    font-style: normal;
}

.portfolio-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-blackgray);
}

.portfolio-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
     color: var(--color-gray);
}