.logo {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: $logo-font;
  font-weight: 700;
  font-size: $logo-mobile-size;
  line-height: 1.16;
  @include respond-from-min('desktop') {
    font-size: $logo-size;
    line-height: 1.2;
  }

  &--accent {
    color: getColor('accent');
  }

  // Header Logo
  .header__container & {
    padding-top: $hexadeca-gap_1x;
    padding-bottom: $hexadeca-gap_1x;
    @include respond-from-min('tablet') {
      padding-top: $dodeca-gap_2x;
      padding-bottom: $dodeca-gap_2x;
    }
  }

  // Footer Logo
  .address & {
    margin-bottom: $deca-gap_2x;
  }
}
