// Fonts
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$main-size: 14px;
$secondary-size: 16px;
$ternary-size: 18px;
$quaternary-size: 36px;
$minor-size: 12px;

$section-title-mobile: 28px;

$logo-size: 26px;
$logo-mobile-size: 24px;

$hero-size: 44px;
$hero-mobile-size: 26px;

$modal-title: 20px;

// Mobile menu
$mobile-menu: 40px;
$mobile-menu-phone: 34px;
$mobile-menu-mail: 24px;
$mobile-menu-social: 18px;
