// Gaps
$deca-gap_1x: 10px;
$deca-gap_2x: 20px;
$deca-gap_4x: 40px;
$deca-gap_5x: 50px;
$deca-gap_7x: 70px;
$deca-gap_9x: 90px;
$deca-gap_20x: 200px;

$dodeca-gap_1x: 12px;
$dodeca-gap_2x: 24px;
$dodeca-gap_4x: 48px;

$pentadeca-gap_1x: 15px;
$pentadeca-gap_2x: 30px;
$pentadeca-gap_4x: 60px;

$hexa-gap: 6px;
$octa-gap: 8px;
$hexadeca-gap_1x: 16px;
$hexadeca-gap_2x: 32px;
$hexadeca-gap_4x: 64px;

$xeno-gap_0: 11px;
$xeno-gap_a: 13px;
$xeno-gap_b: 19px;
$xeno-gap_c: 22px;
$xeno-gap_d: 29px;
$xeno-gap_e: 42px;
$xeno-gap_f: 93px;
$xeno-gap_g: 94px;
$xeno-gap_h: 118px;
