@mixin transition($property) {
  transition: $property 250ms $cubic;
}

@mixin centered-flex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin respond-from-min($breakpoint) {
  @media screen and (min-width: getWidth($breakpoint)) {
    @content;
  }
}

@mixin respond-to-max($breakpoint) {
  @media screen and (max-width: getWidth($breakpoint)) {
    @content;
  }
}
