// Colors
$colors-main: (
  'primary-bg': #fff,
  'secondary-bg': #f5f4fa,
  'ternary-bg': #2f303a,
  'primary-text': #757575,
  'secondary-text': #212121,
  'ternary-text': #000,
  'accent': #2196f3,
  'accent-hover': #188ce8,
  'ternary-buttons': #afb1b8,
  'border': #ececec,
  'border-box': #eeeeee,
);

@import './functions';

$colors-inverted: (
  'primary-text': getColor('primary-bg'),
);

$colors-opacity: (
  'lighter': 0.9,
  'light': 0.8,
  'medium-light': 0.6,
  'medium': 0.5,
  'medium-dark': 0.4,
  'medium-darker': 0.3,
  'dark': 0.2,
  'darker': 0.1,
  'dark-16': 0.16,
  'dark-15': 0.15,
  'dark-14': 0.14,
  'dark-12': 0.12,
  'dark-08': 0.08,
  'dark-06': 0.06,
);

$hero-gradient: getColorAlpha('ternary-bg', 'medium-dark');
$social-bg: getColorAlpha('primary-bg', 'darker');
$modal-form-border: getColorAlpha('secondary-text', 'dark');
$footer-links-color: getColorAlpha('primary-bg', 'medium-light');
$comment-placeholder: getColorAlpha('primary-text', 'medium');
$dev-bg: getColorAlpha('ternary-bg', 'light');
$project-accent: getColorAlpha('accent', 'lighter');

// Shadows
$backdrop-bg: getColorAlpha('ternary-text', 'dark');
$border-medium: getColorAlpha('primary-bg', 'medium-darker');
$shadow-border: getColorAlpha('ternary-text', 'darker');
$shadow-button: getColorAlpha('ternary-text', 'dark-15');
$shadow-16: getColorAlpha('ternary-text', 'dark-16');
$shadow-14: getColorAlpha('ternary-text', 'dark-14');
$shadow-12: getColorAlpha('ternary-text', 'dark-12');
$shadow-08: getColorAlpha('ternary-text', 'dark-08');
$shadow-06: getColorAlpha('ternary-text', 'dark-06');

// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Adaptive
@import './breakpoints';
@import './fonts';
@import './_gaps';
