.img-section {
  display: none;

  @include desktop {
    display: inherit;
    padding-top: 0;
  }
}

.img-section__picture {
  display: block;
}

/*  налаштування списку (list options) */
.img-section__group {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.img-section__list {
  position: relative;
  width: 100%;
  @include tablet {
    flex-basis: calc((100% - 60px) / 3);
  }

  @include desktop {
  }
}

.img-section__position > .img-section__label {
  position: absolute;
  bottom: 0;
  margin: 0;

  width: 100%;
}

.img-section__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
}

/* .img-section-picture{} */
