.our-team {
  background-color: var(--background-color-special);
}

/* .our-team-main-title {} */

.our-team-group {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.our-team-group__list {
  margin: 0 auto;
  background-color: var(--additional-text-color);
/*   width: calc((100% - 90px) / 4); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

    width: 100%;
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.our-team-group__img {
  display: block;
}

.our-team__img-text {
  padding: 30px 0;
}

// *- налаштування тексту в variables.scss //
.our-team__subtitle {
  margin-bottom: 10px;
}
